_posts/2021-07-04-[코테] 네이버 웹툰.md
_posts/2021-11-16-virtualenv.md
_posts/2021-11-03-Topic Modeling
_posts/2021-11-03-LDA.md
_posts/2021-10-30-View.md

$cat .gitignore
_site/
.sass-cache/
.jekyll-metadata
Gemfile.lock

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride