{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = page.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
    <article class="archive-item" style="padding:0em 0em 0.5em 0em;">        
        <span>
            <a href="{{ post.url }}">{{post.title}}</a>
        </span>
        <small> 
            <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"> </i>{{ post.date | date: " %Y.%m.%d" }}
            {% if site.category_archive.type and site.tag_archive.type and post.tags[0] %}
            {%- include post__taxonomy.html -%}
            {% endif %}
        </small>
    
      </article>
</div>
